In [2]:
# http://pandas.pydata.org/pandas-docs/stable/10min.html
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

/home/ubuntu/anaconda3/lib/python3.5/site-packages/matplotlib/font_manager.py:273: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  warnings.warn('Matplotlib is building the font cache using fc-list. This may take a moment.')
/home/ubuntu/anaconda3/lib/python3.5/site-packages/matplotlib/font_manager.py:273: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  warnings.warn('Matplotlib is building the font cache using fc-list. This may take a moment.')

In [3]:
s = pd.Series([1,3,5,np.nan,6,8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [8]:
dates = pd.date_range('20130101', periods=6)
dates

df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01  2.334304 -1.008241 -1.506391  0.998968
2013-01-02  0.391047  0.209073  1.856872  1.212238
2013-01-03 -0.080737  1.892884 -1.822341  0.477073
2013-01-04 -0.504762 -0.187498  1.110441  0.890920
2013-01-05  0.392093  0.438504 -0.189321 -2.071717
2013-01-06  0.003320 -1.236871 -0.828077  0.537196

In [9]:
df2 = pd.DataFrame({ 'A' : 1.,
   ....:                      'B' : pd.Timestamp('20130102'),
   ....:                      'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
   ....:                      'D' : np.array([3] * 4,dtype='int32'),
   ....:                      'E' : pd.Categorical(["test","train","test","train"]),
   ....:                      'F' : 'foo' })
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [10]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [11]:
df.head()
df.tail(3)

                   A         B         C         D
2013-01-04 -0.504762 -0.187498  1.110441  0.890920
2013-01-05  0.392093  0.438504 -0.189321 -2.071717
2013-01-06  0.003320 -1.236871 -0.828077  0.537196

In [12]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [14]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [15]:
df.values

array([[ 2.33430378, -1.00824097, -1.50639086,  0.99896848],
       [ 0.39104653,  0.20907302,  1.85687186,  1.21223807],
       [-0.08073705,  1.89288425, -1.82234127,  0.47707309],
       [-0.50476228, -0.18749798,  1.1104409 ,  0.89091964],
       [ 0.39209264,  0.43850353, -0.18932101, -2.07171694],
       [ 0.00332027, -1.23687095, -0.82807723,  0.53719582]])

In [16]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.422544  0.017975 -0.229803  0.340780
std    0.994553  1.131249  1.461225  1.214298
min   -0.504762 -1.236871 -1.822341 -2.071717
25%   -0.059723 -0.803055 -1.336812  0.492104
50%    0.197183  0.010788 -0.508699  0.714058
75%    0.391831  0.381146  0.785500  0.971956
max    2.334304  1.892884  1.856872  1.212238

In [17]:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A    2.334304    0.391047   -0.080737   -0.504762    0.392093    0.003320
B   -1.008241    0.209073    1.892884   -0.187498    0.438504   -1.236871
C   -1.506391    1.856872   -1.822341    1.110441   -0.189321   -0.828077
D    0.998968    1.212238    0.477073    0.890920   -2.071717    0.537196

In [18]:
df.sort_index(axis=1,ascending=False)

                   D         C         B         A
2013-01-01  0.998968 -1.506391 -1.008241  2.334304
2013-01-02  1.212238  1.856872  0.209073  0.391047
2013-01-03  0.477073 -1.822341  1.892884 -0.080737
2013-01-04  0.890920  1.110441 -0.187498 -0.504762
2013-01-05 -2.071717 -0.189321  0.438504  0.392093
2013-01-06  0.537196 -0.828077 -1.236871  0.003320

In [19]:
df.sort_values(by='B')

                   A         B         C         D
2013-01-06  0.003320 -1.236871 -0.828077  0.537196
2013-01-01  2.334304 -1.008241 -1.506391  0.998968
2013-01-04 -0.504762 -0.187498  1.110441  0.890920
2013-01-02  0.391047  0.209073  1.856872  1.212238
2013-01-05  0.392093  0.438504 -0.189321 -2.071717
2013-01-03 -0.080737  1.892884 -1.822341  0.477073

In [23]:
#df.A
df['A']

2013-01-01    2.334304
2013-01-02    0.391047
2013-01-03   -0.080737
2013-01-04   -0.504762
2013-01-05    0.392093
2013-01-06    0.003320
Freq: D, Name: A, dtype: float64

In [24]:
df[0:3]

                   A         B         C         D
2013-01-01  2.334304 -1.008241 -1.506391  0.998968
2013-01-02  0.391047  0.209073  1.856872  1.212238
2013-01-03 -0.080737  1.892884 -1.822341  0.477073

In [26]:
df['20130102':'20130104']

                   A         B         C         D
2013-01-02  0.391047  0.209073  1.856872  1.212238
2013-01-03 -0.080737  1.892884 -1.822341  0.477073
2013-01-04 -0.504762 -0.187498  1.110441  0.890920

In [28]:
df.loc[dates[0]]

A    2.334304
B   -1.008241
C   -1.506391
D    0.998968
Name: 2013-01-01 00:00:00, dtype: float64

In [31]:
df.loc[:,['A','B']]

                   A         B
2013-01-01  2.334304 -1.008241
2013-01-02  0.391047  0.209073
2013-01-03 -0.080737  1.892884
2013-01-04 -0.504762 -0.187498
2013-01-05  0.392093  0.438504
2013-01-06  0.003320 -1.236871

In [33]:
df.loc['20130102':'20130104',['A','B']]

                   A         B
2013-01-02  0.391047  0.209073
2013-01-03 -0.080737  1.892884
2013-01-04 -0.504762 -0.187498

In [35]:
df.loc['20130102',['A','B']]

A    0.391047
B    0.209073
Name: 2013-01-02 00:00:00, dtype: float64

In [36]:
 df.loc[dates[0],'A']

2.3343037780683877

In [37]:
df.at[dates[0],'A']

2.3343037780683877

In [38]:
df.iloc[3]

A   -0.504762
B   -0.187498
C    1.110441
D    0.890920
Name: 2013-01-04 00:00:00, dtype: float64

In [40]:
df.iloc[3:5,0:2]

                   A         B
2013-01-04 -0.504762 -0.187498
2013-01-05  0.392093  0.438504

In [41]:
df.iloc[[1,2,4],[0,2]]

                   A         C
2013-01-02  0.391047  1.856872
2013-01-03 -0.080737 -1.822341
2013-01-05  0.392093 -0.189321

In [43]:
df.iloc[1:3,:]

                   A         B         C         D
2013-01-02  0.391047  0.209073  1.856872  1.212238
2013-01-03 -0.080737  1.892884 -1.822341  0.477073

In [44]:
df.iloc[:,1:3]

                   B         C
2013-01-01 -1.008241 -1.506391
2013-01-02  0.209073  1.856872
2013-01-03  1.892884 -1.822341
2013-01-04 -0.187498  1.110441
2013-01-05  0.438504 -0.189321
2013-01-06 -1.236871 -0.828077

In [45]:
df.iloc[1,1]

0.20907301853407276

In [46]:
df.iat[1,1]

0.20907301853407276

In [48]:
df[df.A >0]

                   A         B         C         D
2013-01-01  2.334304 -1.008241 -1.506391  0.998968
2013-01-02  0.391047  0.209073  1.856872  1.212238
2013-01-05  0.392093  0.438504 -0.189321 -2.071717
2013-01-06  0.003320 -1.236871 -0.828077  0.537196

In [53]:
df[df > 0]

                   A         B         C         D
2013-01-01  2.334304       NaN       NaN  0.998968
2013-01-02  0.391047  0.209073  1.856872  1.212238
2013-01-03       NaN  1.892884       NaN  0.477073
2013-01-04       NaN       NaN  1.110441  0.890920
2013-01-05  0.392093  0.438504       NaN       NaN
2013-01-06  0.003320       NaN       NaN  0.537196

In [55]:
df2 = df.copy()
df2['E'] = ['one', 'one','two','three','four','three']
df2

                   A         B         C         D      E
2013-01-01  2.334304 -1.008241 -1.506391  0.998968    one
2013-01-02  0.391047  0.209073  1.856872  1.212238    one
2013-01-03 -0.080737  1.892884 -1.822341  0.477073    two
2013-01-04 -0.504762 -0.187498  1.110441  0.890920  three
2013-01-05  0.392093  0.438504 -0.189321 -2.071717   four
2013-01-06  0.003320 -1.236871 -0.828077  0.537196  three

In [56]:
df2[df2['E'].isin(['two','four'])]

                   A         B         C         D     E
2013-01-03 -0.080737  1.892884 -1.822341  0.477073   two
2013-01-05  0.392093  0.438504 -0.189321 -2.071717  four

In [57]:
s1 = pd.Series([1,2,3,4,5,6], index=pd.date_range('20130102', periods=6))
s1

2013-01-02    1
2013-01-03    2
2013-01-04    3
2013-01-05    4
2013-01-06    5
2013-01-07    6
Freq: D, dtype: int64

In [58]:
df['F'] = s1

In [59]:
df

                   A         B         C         D    F
2013-01-01  2.334304 -1.008241 -1.506391  0.998968  NaN
2013-01-02  0.391047  0.209073  1.856872  1.212238  1.0
2013-01-03 -0.080737  1.892884 -1.822341  0.477073  2.0
2013-01-04 -0.504762 -0.187498  1.110441  0.890920  3.0
2013-01-05  0.392093  0.438504 -0.189321 -2.071717  4.0
2013-01-06  0.003320 -1.236871 -0.828077  0.537196  5.0

In [60]:
df.at[dates[0],'A'] = 0

In [61]:
df.iat[0,1] = 0

In [63]:
df.loc[:,'D'] = np.array([5]*len(df))

In [62]:
np.array([5]*len(df))

array([5, 5, 5, 5, 5, 5])

In [64]:
df

                   A         B         C  D    F
2013-01-01  0.000000  0.000000 -1.506391  5  NaN
2013-01-02  0.391047  0.209073  1.856872  5  1.0
2013-01-03 -0.080737  1.892884 -1.822341  5  2.0
2013-01-04 -0.504762 -0.187498  1.110441  5  3.0
2013-01-05  0.392093  0.438504 -0.189321  5  4.0
2013-01-06  0.003320 -1.236871 -0.828077  5  5.0

In [65]:
df2 = df.copy()
df2[df2 > 0] = -df2
df2

                   A         B         C  D    F
2013-01-01  0.000000  0.000000 -1.506391 -5  NaN
2013-01-02 -0.391047 -0.209073 -1.856872 -5 -1.0
2013-01-03 -0.080737 -1.892884 -1.822341 -5 -2.0
2013-01-04 -0.504762 -0.187498 -1.110441 -5 -3.0
2013-01-05 -0.392093 -0.438504 -0.189321 -5 -4.0
2013-01-06 -0.003320 -1.236871 -0.828077 -5 -5.0